:root {
   --white: #ffff;
   --light-gray: #d3d3d3;
   --wrap-color: rgba(0, 0, 0, 0.5);
   --blue: #265cff;
   --gray-border: #545454;
}

@font-face {
   font-family: Poppins;
   src: url('./assets/font/Poppins-Regular.ttf');
}

html,
body {
   font-size: 16px;
   height: 100%;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Poppins;
}

#root {
   height: 100%;
}
.App {
   height: 100%;
   position: relative;
}

.kep-login-facebook {
   font-family: Poppins !important;
   color: #080808 !important;
   text-transform: none !important;
   font-weight: normal !important;
   font-size: 0.85rem !important;
}
